@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  list-style: none;
  font-family:  "Montserrat";
  font-size: 14px;
}


div{

  border: 1px dotted red;
  }

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: #222228 ;
}

a:hover {
  text-decoration: none;
  text-decoration-line: underline;
  color: #414147;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}



  /* ====== ** HEADER ** =============================================================== */
  /* =================================================================================== */

  header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 0 0 2px rgb(224, 224, 224);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
}

.nav-logo {
  max-width: 95px;
  min-width: 50px;
}


/* navbar - FITLTER */
.navbar-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  height: 30px;
  margin: 0 15px;
  border-radius: 21px;
  box-shadow: 0px 1px 2px rgba(143, 143, 143, 0.18);
  font-size: 8px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-filter:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}


.navbar-filter > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.082);
  padding: 5px 16px;
  height: 80%;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-filter > div:last-child {
  border-right: 0;
}


.navbar-filter-input::placeholder {
  font-size: 1px;
}

.navbar-filter-button > button > i {
  color: #ff385c;
}

.navbar-menu {
max-width: 300px;
display: flex;
flex-direction: row;
justify-content: flex-end;
text-align: center;
float: right;
font-size: 1px;
}


  /* ====== ** MAIN ** =============================================================== */
  /* =================================================================================== */

main{
  display: flex;
  flex-direction: column;


}

.full-content{
display: flex;
flex-direction: row;
margin-top: 80px;
max-width: 90%;
}



.room-board {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  }

.room-board-sets {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width:100%;
}

.room-board-sets p{
  font-size: 12px;

  }

  .room-board-sets h1{
  font-size: 30px;
  margin-top: 10px;

  }
    
.room-board-filter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;

}

.room-board-filter button{
  background-color: white;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  color: rgb(92, 92, 92);
  margin: 3px;
  font-size: 10px;
  }

.room-board-filter button:hover{

  border: 1px solid #4d4d4d;

  }
  
.room-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px 0;
  padding: 0px;

  }


.room-div-img {
  width: 350px;
  margin-right: 15px;

}

.room-img {
  width: 300px;
  border-radius: 10px;
}

.room-description{
  width: ;
  height: 170px;

}

.room-price{
float: right;
align-self: flex-end;
align-items: flex-end

}

hr { 
  border-top: 1px solid #e6e6e6;
} 

#mapid { height: 180px; }
  
  /* ====== ** FOOTER ** =============================================================== */
  /* =================================================================================== */

footer{
  width: 100%;
  height: 200px;
  border-top: 1px solid #e6e6e6;
  margin-top: 15px;
}

.footer-col{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgb(250, 250, 250);
list-style: none;
padding: 20px;
border: 1px solid #414040;
}

.footer-copyrigth {

  width: 80%;
}
