@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  list-style: none;
  font-family:  "Montserrat";
  font-size: 14px;
  box-sizing: border-box ;
}


div{

  border: 0px dotted red;
  }

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 14px;
}

a {

  text-decoration: none;
  text-decoration-line: none;
  color: #222228 ;
}

a:hover {
  text-decoration: none;
  text-decoration-line: underline;
  color: #414147;
}

img{
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}



  /* ====== ** HEADER ** =============================================================== */
  /* =================================================================================== */

.navbar-bg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgb(224, 224, 224);
  width: 100%;
  padding: 25px 24px 10px 24px;
}

.nav-logo {
  max-width: 95px;
  min-width: 50px;
  height: auto;
  margin: 0 10px 10px 10px;
}


/* navbar - FITLTER */
.navbar-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 30px;
  border-radius: 21px;
  box-shadow: 0px 1px 2px rgba(143, 143, 143, 0.18);
  font-size: 8px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 10px 10px 10px;
}

.navbar-filter:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}


.navbar-filter > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.082);
  padding: 5px 16px;
  height: 80%;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-filter > div:last-child {
  border-right: 0;
}


.navbar-filter-input::placeholder {
  font-size: 1px;
}

.navbar-filter-button > button > i {
  color: #ff385c;
}

.navbar-menu {
max-width: 300px;
display: flex;
flex-direction: row;
justify-content: flex-end;
text-align: center;
float: right;
font-size: 1px;
margin: 0 10px 10px 10px;
}


  /* ====== ** MAIN ** =============================================================== */
  /* ====== ========== =============================================================== */

.main-content{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-top: 10px;
max-width: 100%;

}

.far {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: rgb(248, 19, 107);
}

.room-board {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  max-width: 750px;
  padding-left: 15px;
  margin-right: 30px;


  }

.room-board-sets {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width:100%;
}

.room-board-sets p{
  font-size: 12px;

  }

  .room-board-sets h1{
  font-size: 30px;
  margin-top: 10px;

  }
    
.room-board-filter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;

}

.room-board-filter button{
  background-color: white;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  flex: 1 1 100px;
  height: 40px;
  max-width: 130px;
  color: rgb(92, 92, 92);
  margin: 3px;
  display: block;
  font-size: 12px;
  }

.room-board-filter button:hover{

  border: 1px solid #4d4d4d;

  }
  
.room-board-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0;
  padding: 0px;

  }


.room-div-img {
  max-width: 375px;
  margin-right: 15px;
  flex: 1 1 200px;
  padding-bottom: 10px;
}

.room-img {
  max-width: 375px;
  border-radius: 10px;

}

.room-description{
display: flexbox ;
flex-direction: column;
justify-content: space-between;
height: 100%;
max-width: 375px;
flex: 12 1 200px;

}

.room-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 20px;
}
.room-type p{
 text-align: left;
}
.room-type spam{
  text-align: right;
  }

.room-name{
  padding-bottom: 20px;
}

.room-price{
padding-top: 40px;

text-align: end;

}

hr { 
  border-top: 1px solid #e6e6e6;
} 

.map-content{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  max-width: 600px;
  flex: 1 1 300px;



}

#mapid { 
  width: 100%; 
  height: 600px;
  margin-top: 50px;}
  
  /* ====== ** FOOTER ** =============================================================== */
  /* =================================================================================== */

footer{
  width: 100%;
  height: 200px;
  border-top: 1px solid #e6e6e6;
  margin-top: 15px;
}

.footer-col{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgb(250, 250, 250);
list-style: none;
padding: 20px;
border: 1px solid #414040;
}

.footer-copyrigth {

  width: 80%;
}
